version: 2.1

orbs:
  codecov: codecov/codecov@1.0.4

jobs:
  build:
    docker:
      - image: google/dart
    steps:
      - checkout
      - run: dart --version
      - run: pub get
      - run: pub run test_coverage
      - codecov/upload:
          conf: '.circleci/codecov.yaml'
          file: 'coverage/lcov.info'